@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("../public/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
.resumefonts{
  font-family: "new roman";
  src: url('../src/assets/times\ new\ roman.ttf');
}
/* @layer directive  */
@layer base {
  body {
    font-family: "General Sans", sans-serif;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-hover {
    width: 177px;
    height: 177px;
   
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}
